.ad-card-flex {
  display: flex;
  align-items: center;
}

.ad-card {
  display: flex;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 300px;
  height: 250px;
}

.ad-card img {
  width: 100%;
  height: auto;
  /* object-fit: contain; */
}
