.placeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #213251;
  padding-top: 20px;
  margin-bottom: 50px;
}

.placeListTitle {
  text-align: center;
  background-color: #213251;
  padding: 15px 45px 0px;
  position: absolute;
  top: 425px;
  color: white;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
