.cookie-policy {
  color: var(--txt-color);
  margin: 20px;
  line-height: 1.5;
}

.cookie-policy h2 {
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 10px;
}

.bullet-point {
  list-style-type: disc;
}

.square-point {
  list-style-type: square;
  margin-left: 15px;
}

li strong {
  font-weight: bold;
}

.aboutCookies {
    text-decoration: none;
    color: orange;
}