.btn {
    color: #f9f9f9;
    background-color: var(--main-color);
    border: none;
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn:hover {
    background-color: var(--main-color);
  }
  
  .btn:hover .arrow-icon {
    transform: translate(3px, -3px);
  }