.filter {
  color: var(--txt-color);
  font-family: "Raleway", sans-serif;
  background-color: var(--secondary-color);
  padding: 20px;
  width: 80%;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 1px 0px 36px 8px rgba(0, 0, 0, 0.34);
}
