.userBoardTitle {
  color: var(--txt-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3vh;
}

.userBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userBoardAvatar {
  display: flex;
  justify-content: center;
}

.avatarChoice {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-color);
  margin: auto;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo p {
  background-color: var(--txt-color);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin: 10px;
  opacity: 0.5;
}

.userBoard label {
  color: var(--txt-color);
  margin: 5px;
}

.userBoard input {
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border: 0;
  width: 200px;
}

.saveBtn {
  display: block;
  margin: 10px auto;
}


.previewAvatar {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--txt-color);
}
.avatarArea img {
  width: 200px;
}

.avatar {
  width: 200px;
  height: auto;
  cursor: pointer;
  border: none;
  transition: border 0.3s ease;
}

.avatar.selected {
  border: 2px solid blue;
}