.espace-client{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.title{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3vh;
}

.avatarArea {
    display: flex;
    gap: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: border 0.3s ease;
}

.avatar.selected {
    border: 2px solid blue;
}