.favoriteIconWrapper {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  display: inline-block;
}

.favoriteIconWrapper img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}

.favoriteIcon {
  transition: transform 0.3s ease-in-out;
}

.favoriteIcon.active {
  animation: scaleHeart 0.3s ease-in-out;
}

.favoriteIcon .iconAnim {
  animation: scaleHeart 0.3s ease-in-out;
}

@keyframes scaleHeart {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1)
  }
}