.messagerie {
  padding: 20px;
}

.messagerie button {
  background-color: var(--main-color);
  color: var(--txt-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.messagerie h1 {
  display: flex;
  justify-content: center;
  color: var(--txt-color);
}

.messagerie ul {
  color: var(--txt-color);
  margin-bottom: 10px;
}

.messagerie ul:last-child {
  margin-bottom: 5px;
}

.date-message {
  font-size: 12px;
}

.email-message {
  font-size: 12px;
}

.messagerie li {
  border-bottom: 2px solid var(--main-color);
  padding: 10px 0;
  font-size: 15px;
}

.messagerie li:last-child {
  border-bottom: none;
}

.messagerie strong {
  font-weight: bold;
}
