.footer {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-color);
  align-items: center;
  width: 100%;
}

.footer a {
  display: flex;
  text-decoration: none;
  padding: 10px;
  color: var(--txt-color);
  font-size: 12px;
}

.logoFooter {
  width: 55px;
}
