.footer {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  align-items: center;
  width: 100%; /* Pour s'étendre sur toute la largeur de la fenêtre */
}

.footer a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: "Raleway", sans-serif;
  color: var(--txt-color);
  font-size: 12px;
}

.logoFooter {
  width: 55px;
}
