@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

main {
  flex: 1;
}
.return {
  display: flex;
  align-items: center;
  color: var(--txt-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0px 0px 10px;
}
.p-toast {
  font-size: 15px;
  font-weight: bold;
}

.placeList {
  scroll-behavior: auto;
}