.cookie-consent {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    color: var(--txt-color);
    height: 120px;
    margin: 10px 0px;
    padding: 5px;
}

p a {
    color: var(--txt-color);
}

.cookie-consent button {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: var(--secondary-color);
    color: var(--txt-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 45%;
}