.dropdown-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.openMenu,
.closeMenu {
  height: 20px;
  transition: transform 0.4s ease-in-out;
  color: black;
  width: 30px;
}

.closeMenu {
  transform: rotate(180deg);
  cursor: pointer;
}
@keyframes slideDownModal {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUpModal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.nav-modal.slide-in {
  animation: slideDownModal 0.3s forwards;
}

.nav-modal.slide-out {
  animation: slideUpModal 0.3s forwards;
}

.nav-modal {
  margin-top: 53px;
  position: static;
  width: 100%;
  top: 56px;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  outline: none;
  z-index: 1000; 
  overflow-y: auto; 
  height: 200px;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; 
}

.dropdown-toggle {
  background: none;
  border: none;
}

.nav-links a {
  display: block;
  color: var(--txt-color);
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}