@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}

.links {
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;
  width: 100%;
  padding: 10px 10px 20px;
  z-index: 0;
  font-family: "Raleway", sans-serif;
}

.links a {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.links.open {
  display: block;
  animation: slideDown 0.5s ease-in-out forwards;
  background-color: var(--secondary-color);
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.openMenu,
.closeMenu {
  height: 20px;
  transition: transform 0.5s ease-in-out;
  color: black;
  width: 30px;
}

.closeMenu {
  transform: rotate(180deg);
  cursor: pointer;
}

.links .closed {
  background-color: transparent;
}

.toggleMode {
  background: none;
  border: none;
  outline: none;
  margin-left: 10px;
  display: none;
}

.toggleIcon {
  scale: 2;
  cursor: pointer;
}
